html {
    font-family: Roboto;
    display: inline-block;
    text-align: center;
}

p {
    font-size: 1.2rem;
}

body {
    margin: 0;
    background-color: #a9d5d4;
}

.topnav {
    overflow: hidden;
    background: #2b4d59;
    color: white;
    font-size: 1rem;
    padding: 10px;
}

#authentication-bar {
    background-color: rgba(240, 240, 240, 0.774);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    margin-bottom: 30px;
}

#authentication-bar span {
    margin-right: 7px;
    margin-top: auto;
    margin-bottom: auto;
}

#user-details {
    color: #2b4d59;
}

.content {
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
    padding: 5%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.cards {
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 30px;
}

#insideTemp {
    width: 50%;
    float: left;
    margin-top: 7%;
}

#targetTemp {
    width: 50%;
    float: right;
    box-shadow: -2px 0px 0px 0px rgba(240, 240, 240, 0.774);
}

#card-icon {
    color: rgba(0, 0, 0, 0.144);
    position: absolute;
    top: -40px;
    left: -40px;
}

.reading {
    font-size: 1.4rem;
}

button {
    background: white;
    color: #2b4d59;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button:hover {
    opacity: 0.8;
}

.form-elements-container {
    padding: 16px;
    width: 250px;
    margin: 0 auto;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}

#login-form img {
    width: 40vw;
    margin-top: 30px;
}

.topnav img {
    height: 40px;
}

#logout-link {
    color: red;
    text-decoration: none;
    background-color: rgb(255, 194, 194);
    padding: 3px;
    border-radius: 6px;
}

#blindsOpen {
    display: none;
}

#blindsOpenLabel {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 5px;
    border-radius: 6px;
    font-size: 18px;
}

#openCard {
    background-color: black;
    color: white;
}

#blindsOpenHint {
    font-size: 12px;
}

#tTempUp {
    margin-top: 0;
    background: #f4bc64;
}

#tTempDown {
    margin-top: 0;
    background: #a9d5d4;
}

#insideCard {
    padding-left: 0;
    padding-right: 0;
}